/* .social-icon {
    width: 70px;
    height: 70px;
} */

.social-icon:hover {
  scale: 1.1;
  transition: 0.1s;
  cursor: pointer;
  border: 3px solid #037ceee1;
}

#github-label,
#gmail-label,
#linkedin-label {
  display: none;
}

#github-url:hover + #github-label {
  display: block;
  margin-top: 0.5em;
}

#gmail-url:hover + #gmail-label {
  display: block;
  margin-top: 0.5em;
}

#linkedin-url:hover + #linkedin-label {
  display: block;
  margin-top: 0.5em;
}
